@import '~antd/dist/antd.css';

.ant-layout-header {
  background: #fff;
  padding: 0 20px !important;
}

.ant-btn-primary {
  background: #5D54E2 !important;
  border-color: #5D54E2 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5D54E2 !important;
  border-color: #5D54E2 !important;
}

::selection {
  background: #5D54E2 !important;
}

.ant-tabs-nav .ant-tabs-tab {
  color: #5D54E2 !important;
}

.ant-tabs-ink-bar {
  background-color: #5D54E2 !important;
}

.ant-btn:not(.ant-btn-primary):hover,
.ant-btn:not(.ant-btn-primary):focus {
  color: #5D54E2;
  border-color: #5D54E2;
}

a {
  color: #5D54E2;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 35px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
