.ant-skeleton.card-skeleton {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-list .ant-list-items {
  display: flex;
  flex-wrap: wrap;
}

.users-list .ant-list-items .ant-card {
  margin-bottom: 10px;
}